<!-- Projects Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I'm Working On</h2>
                    <h3 class="section-subheading text-muted">Projects I'm in the middle of.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/projects/storage-units.png" alt="Storage Unit App">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2017</h4>
                                    <h4 class="subheading">Storage Unit Management App</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Web based app to manage storage unit rentals</p>
                                    <p class="text-muted"></p>
                                    <p class="text-muted"> Angular.js
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/projects/deskins-web-design.png" alt="Deskins Concrete">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2017</h4>
                                    <h4 class="subheading">Deskins Concrete</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Construction site focused on displaying their small to large scall craftsmanship in the concrete and curbing industry. Joomla! CMS</p>
                                    <p class="text-muted">
                                    Requirements: Responsive site with image gallery.</p>
                                    <p class="text-muted">CMS: Joomla!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#contact" class="page-scroll">
                            <div class="timeline-image">
                                <h4>Don't Be
                                    <br>Left Out
                                    <br>In 2017!</h4>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>